<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>




<ul>
<% @messages.each do |message| %>
	<% if message.body %>
	<li>
		<% ticket = Ticket.find(message.ticket_id) %>
		<% if ticket.new_ticket? %>
				<%= link_to "Open", open_change_status_ticket_path(ticket) %>
				<%= link_to "Resolved", resolved_change_status_ticket_path(@ticket) %>
				<%= link_to "Escalated", escalated_change_status_ticket_path(@ticket) %>
		<% elsif ticket.open? %>
				<%= link_to "Resolved", resolved_change_status_ticket_path(@ticket) %>
				<%= link_to "Escalated", escalated_change_status_ticket_path(@ticket) %>
		<% end %> 
		<% user = User.find(message.user_id) %>
		<%= user.email %>
		<br>
		<%= message.body %>
	<% end %>
</li>
<% end %>
</ul>



<%= link_to "All Tickets", tickets_path %>