<div class="navbar1">
<%= image_tag "logo.png", class: "top_img"%>

  <div style="display: flex; padding: 0 20px; box-sizing: border-box; align-items: center; justify-content: space-between; width: 100%;">
  <%= image_tag "start.png", style: "height: 58px; "%>
  
    <div style="display: flex;">
      <ul style="display: flex; " class="dash">
        <li class="btn btn-danger btn-margin" id="li_dash"><%= link_to "Dashboard", scheme_provider_dashboard_path, class: "nav_button"%></li>
        <li class="btn btn-danger btn-margin" id="li_dash"><%= link_to "Add Scheme", new_scheme_path(Department.first.id), class: "nav_button"%></li> 
        <!-- Hard coded fix for first department only due to time lack -->
        <li id="li_log"><%= link_to "Sign Out", destroy_user_session_path, method: "POST" %></li>
      </ul>
    </div>
  </div>
</div>
<br><br>