<%= render "/shared/header_admin.html.erb" %>

<div class="add_ministry">
	<%= form_for(@ministry, url: url_for(controller: "ministries", action: "create")) do |f| %>
<table>
	<tr>
	<td><%= f.label :name, "Ministry Name" %></td>
	<td><%= f.text_field :name, required: true %> </td>
	</tr>
	<tr>
	<td><%= f.label :description, "Description" %></td>
	<td><%= f.text_field :description, required: true %> </td>
	</tr>
	
	<%= f.fields_for :departments do |builder| %>
		<% builder.object.build_officer %>
    <%= render "/shared/department_fields", :f => builder %>
  <% end %>
	<p><%= link_to_add_fields "Add Department", f, :departments %></p>
  
  <p><%= f.submit "Submit" %></p>
  </table>
<% end %>
</div>