
<%= render "/shared/header_admin.html.erb" %>

<center><h1 style="color:#333e93"><%= @ministry.name %></h1>
<div><%= @ministry.description %></div></center>
<br>
<div class="department_list">
<center><h2 style="color:#262889;">Department List of this ministry</h2></center>
<br><br>
<% @departments.each do |d| %>
	<%=link_to d.name, department_path(@ministry,d) %>
	<br>
<% end %>

<br><br>
<center>
<% if current_user.admin? %>
	<%= link_to "Add Department", new_department_path(@ministry), class:"btn btn-primary" %>
<% end %>
</div>