<h3>Tickets</h3>

<ul>
<%= @tickets.each do |ticket| %>

  
  <li>
    <%= ticket.description %>
    <% dept = Department.find(ticket.department_id) %>
    <%= link_to dept.name, ticket_messages_path(ticket) %>
    Status: <%= ticket.status %>
  </li>

<% end %>
</ul>



<%= link_to "Dashboard", nodal_employee_dashboard_path %>