<!DOCTYPE html>
<html>
<head>
  <title>LoanSchemeManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	
</header>

<% unless notice.nil? %>
<div><%=notice%></div>
<% end %>

<% unless alert.nil? %>
<div><%=alert%></div>
<% end %>

<%= yield %>


<footer>
	
</footer>


</body>
</html>
